{% include "header.html"%}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='assets/img/palm_read.png')}}" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Read the Stars with Python</p>
            </div>
        </header>

<!-- Reading Buttons -->
            <div class="page-section-custom container text-center">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Choose Your Spread</h2>
            <a href=" {{url_for('one_card')}} " class="btn btn-primary btn-xl reading-button">One-Card</a>
            <a href=" {{url_for('three_card')}} " class="btn btn-primary btn-xl reading-button">Three-Card</a>
            <a href=" {{url_for('four_card')}} " class="btn btn-primary btn-xl reading-button">Four-Card</a>

                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>



        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">

{% if bool == True %}

                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">The Stars Have Spoken</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>



                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">

{% for card in range(c) %}
                    <!-- Portfolio Item 1-->
                    <div class="col-md-3 col-lg-2 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src= "{{ 'https://' + f[card]['img_url'] }}" alt="{{ f[card]['name']}}" />
                        </div>
                    </div>

{% endfor %}
                </div>


            </div>

        </section>

{% endif %}


{% include "footer.html" %}