{% include "header.html"%}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='assets/img/palm_read.png')}}" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Read the Stars with Python</p>
            </div>
        </header>

<!-- Reading Buttons -->
            <div class="page-section-custom container text-center">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Choose Your Spread</h2>
            <a href=" {{url_for('one_card')}} " class="btn btn-primary btn-xl reading-button">One-Card</a>
            <a href=" {{url_for('three_card')}} " class="btn btn-primary btn-xl reading-button">Three-Card</a>
            <a href=" {{url_for('four_card')}} " class="btn btn-primary btn-xl reading-button">Four-Card</a>

                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>

        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">

{% if bool == True %}

                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">The Stars Have Spoken</h2>

                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Result Grid Items-->
                <div class="row justify-content-center">

{% for card in range(c) %}
                    <!-- Result Item -->
                    <div class="col-md-3 col-lg-2 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{card}}">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid center" src= "{{ 'https://' + f[card]['img_url'] }}" alt="{{ f[card]['name']}}" />
                        </div>
                        <p class="portfolio-item-caption-content text-center">{{f[card]['name']}}</p>
                    </div>

{% endfor %}
                </div>
            </div>
        </section>

{% endif %}

{% for card in range(c) %}

<!-- Reading Modals-->
        <!-- Reading Modal Items-->
        <div class="portfolio-modal modal fade" id="portfolioModal{{card}}" tabindex="-1" aria-labelledby="portfolioModal{{card}}" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">

                                    <!-- Reading Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ f[card]['name']}}</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded center mb-5" src= "{{ 'https://' + f[card]['img_url'] }}" alt="{{ f[card]['name']}}" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">{{ f[card]['meaning'] }}</p>
                                    <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}

{% include "footer.html" %}